<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>%1SEARCH SETTING</key>
	<array>
		<string>Case sensitive</string>
		<string>Match whole word only</string>
	</array>
	<key>%2READ SETTING</key>
	<array>
		<string>UnderLine Color</string>
		<string>Render quality</string>
		<string>Strikeout Color</string>
		<string>Default View Mode</string>
		<string>Hightlight Color</string>
		<string>Text is right-aligned</string>
		<string>Keep screen awake</string>
		<string>Ink annotation color</string>
		<string>Ink annotation width</string>
		<string>Rectangle annotation color</string>
		<string>Oval annotation color</string>
		<string>Reset all properties to default</string>
		<string>Auto Save</string>
	</array>
</dict>
</plist>
