<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<array>
		<string>Vertical</string>
		<string>Horizontal</string>
		<string>Horizontal (RTOL)</string>
		<string>Paging Single Page</string>
		<string>Paging Double Page</string>
		<string>Paging Double Page (page cover)</string>
		<string>Curl Mode</string>
	</array>
</dict>
</plist>
