<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.radaee.cordova" version="1.3.9">

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <name>RadaeePDF-Cordova</name>
    <author>GEAR.it S.R.L.</author>
    <description>RadaeePDF SDK Plugin for Cordova. The best PDF rendering engine with annotation, form, page creation features. Support forum, java and objective-c sources are available on www.radaeepdf.com</description>
    <license>Apache</license>
    <keywords>pdf, open, inapppdf, radaee, cordova, radaeepdf, android, ios</keywords>

    <js-module src="www/RadaeePDFPlugin.js" name="RadaeePDFPlugin">
        <clobbers target="RadaeePDFPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RadaeePDFPlugin" >
                <param name="android-package" value="com.radaee.cordova.RadaeePDFPlugin"/>
				<param name="onload" value="true" />
            </feature>
        </config-file>

		<config-file target="AndroidManifest.xml" parent="application">
			<activity android:name="com.radaee.reader.PDFViewAct" android:configChanges="orientation|keyboardHidden|screenSize" android:theme="@android:style/Theme.NoTitleBar"/>
            <activity android:name="com.radaee.reader.PDFGLViewAct" android:configChanges="orientation|keyboardHidden|screenSize" android:theme="@android:style/Theme.NoTitleBar"/>
			<activity android:configChanges="orientation|keyboardHidden|screenSize" android:name="com.radaee.util.PopupEditAct" android:theme="@android:style/Theme.Translucent" />
			<activity android:name="com.radaee.reader.PDFPagerAct" android:configChanges="orientation|keyboardHidden|screenSize" android:label="@string/app_name" />
			<activity
            android:name="com.radaee.util.CaptureSignature"
            android:theme="@android:style/Theme.DeviceDefault.Dialog"/>
            <meta-data android:name="DefaultFont" android:value="Roboto-Black.ttf" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <!-- Plugin source -->
        <source-file src="src/android/RadaeePDFPlugin.java" target-dir="src/com/radaee/cordova" />
        <source-file src="src/android/ViewLib/libs/com.radaee.view.jar" target-dir="libs" />

        <!-- Radaee source - java.com.radaee.pdf -->
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/pdf/adv/Obj.java" target-dir="src/com/radaee/pdf/adv" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/pdf/adv/Ref.java" target-dir="src/com/radaee/pdf/adv" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/pdf/BMDatabase.java" target-dir="src/com/radaee/pdf" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/pdf/BMP.java" target-dir="src/com/radaee/pdf" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/pdf/DIB.java" target-dir="src/com/radaee/pdf" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/pdf/Document.java" target-dir="src/com/radaee/pdf" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/pdf/Global.java" target-dir="src/com/radaee/pdf" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/pdf/HWriting.java" target-dir="src/com/radaee/pdf" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/pdf/Ink.java" target-dir="src/com/radaee/pdf" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/pdf/Matrix.java" target-dir="src/com/radaee/pdf" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/pdf/Page.java" target-dir="src/com/radaee/pdf" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/pdf/PageContent.java" target-dir="src/com/radaee/pdf" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/pdf/Path.java" target-dir="src/com/radaee/pdf" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/pdf/SuperDoc.java" target-dir="src/com/radaee/pdf" />
		<source-file src="src/android/ViewLib/src/main/java/com/radaee/pdf/ResFont.java" target-dir="src/com/radaee/pdf" />
		<source-file src="src/android/ViewLib/src/main/java/com/radaee/pdf/ResForm.java" target-dir="src/com/radaee/pdf" />
		<source-file src="src/android/ViewLib/src/main/java/com/radaee/pdf/ResGState.java" target-dir="src/com/radaee/pdf" />
		<source-file src="src/android/ViewLib/src/main/java/com/radaee/pdf/ResImage.java" target-dir="src/com/radaee/pdf" />
		<source-file src="src/android/ViewLib/src/main/java/com/radaee/pdf/Sign.java" target-dir="src/com/radaee/pdf" />
		<source-file src="src/android/ViewLib/src/main/java/com/radaee/pdf/VNBlock.java" target-dir="src/com/radaee/pdf" />
		<source-file src="src/android/ViewLib/src/main/java/com/radaee/pdf/VNCache.java" target-dir="src/com/radaee/pdf" />
		<source-file src="src/android/ViewLib/src/main/java/com/radaee/pdf/VNPage.java" target-dir="src/com/radaee/pdf" />

        <!-- Radaee source - java.com.radaee.reader -->
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/reader/PDFBotBar.java" target-dir="src/com/radaee/reader" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/reader/PDFLayoutOPStack.java" target-dir="src/com/radaee/reader" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/reader/PDFLayoutView.java" target-dir="src/com/radaee/reader" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/reader/PDFMenu.java" target-dir="src/com/radaee/reader" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/reader/PDFTopBar.java" target-dir="src/com/radaee/reader" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/reader/PDFNavAct.java" target-dir="src/com/radaee/reader" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/reader/PDFViewAct.java" target-dir="src/com/radaee/reader" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/reader/PDFViewController.java" target-dir="src/com/radaee/reader" />
		<source-file src="src/android/ViewLib/src/main/java/com/radaee/reader/PDFPagerAct.java" target-dir="src/com/radaee/reader" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/reader/GLCanvas.java" target-dir="src/com/radaee/reader" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/reader/GLView.java" target-dir="src/com/radaee/reader" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/reader/PDFGLLayoutView.java" target-dir="src/com/radaee/reader" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/reader/PDFGLViewAct.java" target-dir="src/com/radaee/reader" />

        <!-- Radaee source - java.com.radaee.util -->
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/util/ComboList.java" target-dir="src/com/radaee/util" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/util/ComboListAdt.java" target-dir="src/com/radaee/util" />
		<source-file src="src/android/ViewLib/src/main/java/com/radaee/util/CommonUtil.java" target-dir="src/com/radaee/util" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/util/OutlineList.java" target-dir="src/com/radaee/util" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/util/OutlineListAdt.java" target-dir="src/com/radaee/util" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/util/PDFAESStream.java" target-dir="src/com/radaee/util" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/util/PDFAssetStream.java" target-dir="src/com/radaee/util" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/util/PDFFileStream.java" target-dir="src/com/radaee/util" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/util/PDFGridAdt.java" target-dir="src/com/radaee/util" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/util/PDFGridItem.java" target-dir="src/com/radaee/util" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/util/PDFGridThread.java" target-dir="src/com/radaee/util" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/util/PDFGridView.java" target-dir="src/com/radaee/util" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/util/PDFHttpStream.java" target-dir="src/com/radaee/util" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/util/PDFMemStream.java" target-dir="src/com/radaee/util" />
        <source-file src="src/android/ViewLib/src/main/java/com/radaee/util/PDFThumbView.java" target-dir="src/com/radaee/util" />
		<source-file src="src/android/ViewLib/src/main/java/com/radaee/util/PopupEditAct.java" target-dir="src/com/radaee/util" />
		<source-file src="src/android/ViewLib/src/main/java/com/radaee/util/RadaeePluginCallback.java" target-dir="src/com/radaee/util" />
		<source-file src="src/android/ViewLib/src/main/java/com/radaee/util/RadaeePDFManager.java" target-dir="src/com/radaee/util" />
		<source-file src="src/android/ViewLib/src/main/java/com/radaee/util/BookmarkHandler.java" target-dir="src/com/radaee/util" />
		<source-file src="src/android/ViewLib/src/main/java/com/radaee/util/CaptureSignature.java" target-dir="src/com/radaee/util" />
		<source-file src="src/android/ViewLib/src/main/java/com/radaee/util/PDFThumbGrid.java" target-dir="src/com/radaee/util" />
        
        <!-- Radaee source - java.com.radaee.util -->

        <source-file src="src/android/ViewLib/src/main/jniLibs/arm64-v8a/librdpdf.so" target-dir="libs/arm64-v8a" />
        <source-file src="src/android/ViewLib/src/main/jniLibs/armeabi-v7a/librdpdf.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/android/ViewLib/src/main/jniLibs/x86/librdpdf.so" target-dir="libs/x86" />
        <source-file src="src/android/ViewLib/src/main/jniLibs/x86_64/librdpdf.so" target-dir="libs/x86_64" />

        <!-- Import to include guava dependency -->
        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />

        <!-- Project layout -->

        <!-- Radaee layout -->
        <source-file src="src/android/ViewLib/src/main/res/layout/bar_act.xml" target-dir="res/layout" />
        <source-file src="src/android/ViewLib/src/main/res/layout/bar_annot.xml" target-dir="res/layout" />
        <source-file src="src/android/ViewLib/src/main/res/layout/bar_cmd.xml" target-dir="res/layout" />
        <source-file src="src/android/ViewLib/src/main/res/layout/bar_find.xml" target-dir="res/layout" />
        <source-file src="src/android/ViewLib/src/main/res/layout/bar_seek.xml" target-dir="res/layout" />
        <source-file src="src/android/ViewLib/src/main/res/layout/dlg_note.xml" target-dir="res/layout" />
        <source-file src="src/android/ViewLib/src/main/res/layout/dlg_outline.xml" target-dir="res/layout" />
        <source-file src="src/android/ViewLib/src/main/res/layout/dlg_pswd.xml" target-dir="res/layout" />
        <source-file src="src/android/ViewLib/src/main/res/layout/dlg_text.xml" target-dir="res/layout" />
        <source-file src="src/android/ViewLib/src/main/res/layout/item_outline.xml" target-dir="res/layout" />
        <source-file src="src/android/ViewLib/src/main/res/layout/pdf_curl.xml" target-dir="res/layout" />
        <source-file src="src/android/ViewLib/src/main/res/layout/pdf_fragment.xml" target-dir="res/layout" />
        <source-file src="src/android/ViewLib/src/main/res/layout/pdf_layout.xml" target-dir="res/layout" />
        <source-file src="src/android/ViewLib/src/main/res/layout/pdf_nav.xml" target-dir="res/layout" />
        <source-file src="src/android/ViewLib/src/main/res/layout/pop_combo.xml" target-dir="res/layout" />
        <source-file src="src/android/ViewLib/src/main/res/layout/pop_edit.xml" target-dir="res/layout" />
        <source-file src="src/android/ViewLib/src/main/res/layout/pop_view.xml" target-dir="res/layout" />
		<source-file src="src/android/ViewLib/src/main/res/layout/thumb_view.xml" target-dir="res/layout" />
		<source-file src="src/android/ViewLib/src/main/res/layout/pop_more.xml" target-dir="res/layout" />
		<source-file src="src/android/ViewLib/src/main/res/layout/bookmark_row.xml" target-dir="res/layout" />
		<source-file src="src/android/ViewLib/src/main/res/layout/bookmark_popup_menu.xml" target-dir="res/layout" />
		<source-file src="src/android/ViewLib/src/main/res/layout/signature_pad.xml" target-dir="res/layout" />
		<source-file src="src/android/ViewLib/src/main/res/layout/thumb_grid_view.xml" target-dir="res/layout" />
        <source-file src="src/android/ViewLib/src/main/res/layout/pdf_gllayout.xml" target-dir="res/layout" />

        <!-- Radaee raw -->
        <source-file src="src/android/ViewLib/src/main/res/raw/amiri_regular" target-dir="res/raw" />
        <source-file src="src/android/ViewLib/src/main/res/raw/arimo" target-dir="res/raw" />
        <source-file src="src/android/ViewLib/src/main/res/raw/arimob" target-dir="res/raw" />
        <source-file src="src/android/ViewLib/src/main/res/raw/arimobi" target-dir="res/raw" />
        <source-file src="src/android/ViewLib/src/main/res/raw/arimoi" target-dir="res/raw" />
        <source-file src="src/android/ViewLib/src/main/res/raw/cmaps.dat" target-dir="res/raw" />
        <source-file src="src/android/ViewLib/src/main/res/raw/cmyk_rgb.dat" target-dir="res/raw" />
        <source-file src="src/android/ViewLib/src/main/res/raw/cousine" target-dir="res/raw" />
        <source-file src="src/android/ViewLib/src/main/res/raw/cousineb" target-dir="res/raw" />
        <source-file src="src/android/ViewLib/src/main/res/raw/cousinebi" target-dir="res/raw" />
        <source-file src="src/android/ViewLib/src/main/res/raw/cousinei" target-dir="res/raw" />
        <source-file src="src/android/ViewLib/src/main/res/raw/rdf013" target-dir="res/raw" />
        <source-file src="src/android/ViewLib/src/main/res/raw/tinos" target-dir="res/raw" />
        <source-file src="src/android/ViewLib/src/main/res/raw/tinosb" target-dir="res/raw" />
        <source-file src="src/android/ViewLib/src/main/res/raw/tinosbi" target-dir="res/raw" />
        <source-file src="src/android/ViewLib/src/main/res/raw/tinosi" target-dir="res/raw" />
        <source-file src="src/android/ViewLib/src/main/res/raw/symbol" target-dir="res/raw" />
		<source-file src="src/android/ViewLib/src/main/res/raw/umaps.dat" target-dir="res/raw" />

        <!-- Project drawable -->
        <source-file src="src/android/res/drawable/bar_back_image.png" target-dir="res/drawable" />

        <!-- Radaee drawable -->
        <source-file src="src/android/ViewLib/src/main/res/drawable/bar_back.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/btn_annot_ellipse.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/btn_annot_ink.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/btn_annot_line.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/btn_annot_note.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/btn_annot_rect.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/btn_back.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/btn_cancel.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/btn_done.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/btn_ink.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/btn_left.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/btn_outline.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/btn_perform.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/btn_remove.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/btn_right.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/btn_search.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/btn_select.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/btn_view_dual.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/btn_view_single.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/btn_view_vert.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/btn_view.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/file03.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/folder0.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/folder1.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/folder2.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/menu_back.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/pdf_custom_stamp.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/pt_end.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/pt_start.png" target-dir="res/drawable" />
		<source-file src="src/android/ViewLib/src/main/res/drawable/btn_redo.png" target-dir="res/drawable" />
		<source-file src="src/android/ViewLib/src/main/res/drawable/btn_undo.png" target-dir="res/drawable" />
		<source-file src="src/android/ViewLib/src/main/res/drawable/btn_print.png" target-dir="res/drawable" />
		<source-file src="src/android/ViewLib/src/main/res/drawable/ic_add.png" target-dir="res/drawable" />
		<source-file src="src/android/ViewLib/src/main/res/drawable/ic_bookmarks.png" target-dir="res/drawable" />
		<source-file src="src/android/ViewLib/src/main/res/drawable/ic_more.png" target-dir="res/drawable" />
		<source-file src="src/android/ViewLib/src/main/res/drawable/btn_view_horz.png" target-dir="res/drawable" />
		<source-file src="src/android/ViewLib/src/main/res/drawable/save.png" target-dir="res/drawable" />
        <source-file src="src/android/ViewLib/src/main/res/drawable/ic_share.png" target-dir="res/drawable" />

		<!-- Radaee values -->
		<source-file src="src/android/ViewLib/src/main/res/values/styles.xml" target-dir="res/values" />
		<source-file src="src/android/ViewLib/src/main/res/values/bools.xml" target-dir="res/values" />
		<source-file src="src/android/ViewLib/src/main/res/values-v11/styles.xml" target-dir="res/values-v11" />
		<source-file src="src/android/ViewLib/src/main/res/values-v14/styles.xml" target-dir="res/values-v14" />
		<source-file src="src/android/ViewLib/src/main/res/values-v21/styles.xml" target-dir="res/values-v21" />
		<source-file src="src/android/ViewLib/src/main/res/values-ar/strings.xml" target-dir="res/values-ar" />
		<source-file src="src/android/ViewLib/src/main/res/values-es-rES/strings.xml" target-dir="res/values-es-rES" />
		<source-file src="src/android/ViewLib/src/main/res/values-fr-rFR/strings.xml" target-dir="res/values-fr-rFR" />
		<source-file src="src/android/ViewLib/src/main/res/values-it/strings.xml" target-dir="res/values-it" />
		<source-file src="src/android/ViewLib/src/main/res/values-sw600dp/bools.xml" target-dir="res/values-sw600dp" />
		<source-file src="src/android/ViewLib/src/main/res/values-xlarge/bools.xml" target-dir="res/values-xlarge" />

		<!-- Radaee res -->
		<source-file src="src/android/ViewLib/src/main/res/AMIRI_LICENSE.txt" target-dir="res" />
		<source-file src="src/android/ViewLib/src/main/res/ARIMO_LICENSE.txt" target-dir="res" />
		<source-file src="src/android/ViewLib/src/main/res/COUSINE_LICENSE.txt" target-dir="res" />
		<source-file src="src/android/ViewLib/src/main/res/FONT-LICENSE.txt" target-dir="res" />
		<source-file src="src/android/ViewLib/src/main/res/TINOS_LICENSE.txt" target-dir="res" />

        <!-- Fonts -->
        <source-file src="fonts/Roboto-Black.ttf" target-dir="assets/fonts" />
        <source-file src="fonts/Roboto-Bold.ttf" target-dir="assets/fonts" />
        <source-file src="fonts/Roboto-Light.ttf" target-dir="assets/fonts" />
        <source-file src="fonts/Roboto-Medium.ttf" target-dir="assets/fonts" />
        <source-file src="fonts/Roboto-Regular.ttf" target-dir="assets/fonts" />
        <source-file src="fonts/Roboto-RegularItalic.ttf" target-dir="assets/fonts" />

		<!-- plugman cannot merge - prepare manual merge -->
        <config-file target="res/values/strings.xml" parent="/resources">
            <string name="failed_invalid_password">Open Failed: Invalid Password</string>
            <string name="failed_invalid_format">Open Failed: Damaged or Invalid PDF file</string>
            <string name="failed_encryption">Open Failed: Unknown Encryption</string>
            <string name="failed_invalid_path">Open Failed: Access denied or Invalid path</string>
            <string name="failed_unknown">Open Failed: Unknown Error</string>
            <string name="please_wait">Please wait</string>
            <string name="no_more_found">No more found</string>
            
            <string name="thumbnail_creation_running">Thumbnail creation is running…</string>
            <string name="exiting">Exiting</string>
            <string name="no">No</string>
            <string name="yes">Yes</string>
            <string name="annotation_failed">Add annotation failed!</string>
            <string name="cannot_write_or_encrypted">Cannot write or encrypted!</string>
            <string name="copy_text_to_clipboard">Copy text to clipboard</string>
            <string name="highlight_texts">Highlight texts</string>
            <string name="underline">Underline</string>
            <string name="strikeout">StrikeOut</string>
            <string name="squiggly">Squiggly</string>
            <string name="process_selected_text">Process selected text</string>
            <string name="cancel">Cancel</string>
            <string name="no_more_redo">No more redo.</string>
            <string name="no_more_undo">No more undo.</string>
            <string name="pdf_outline">PDF Outlines</string>
            <string name="single_page">Single Page</string>
            <string name="vertical">Vertical</string>
            <string name="horizontal">Horizontal</string>
            <string name="dual_page">Dual Page</string>
            <string name="curl">Curl</string>
            <string name="reflow">Text reflow</string>
            <string name="save_msg">Document modified.\nDo you want to save it?</string>
            <string name="page_change_block">You cannot change page while page is zoomed, Zoom out first!</string>
            
            <string name="read_only_annotation">Read only annotation</string>
            <string name="note_content">Note Content</string>
            <string name="note_subject">Subject:</string>
            <string name="note_text">Content:</string>
            <string name="show_password">Show password</string>
            <string name="input_password">Input Password</string>
            <string name="loading_pdf">Loading PDF file…</string>
            <string name="browse_open_file">Browse And Open File</string>
            <string name="view_pager">ViewPager</string>
            <string name="open_asset">Open From Assets (ReadOnly)</string>
            <string name="open_sdcard">Open From sdcard</string>
            <string name="open_http">Open Http Link (INTERNET access)</string>
            <string name="using_RGB_565">Using RGB_565</string>
            <string name="using_RGB_4444">Using RGB_4444</string>
            <string name="simple_open_gl">Simple OpenGL</string>
            <string name="curl_pages">Curl Pages</string>
            <string name="advance">Advance</string>
            <string name="create_pdf">CreatePDF</string>
            <string name="javascript">JavaScript</string>
            <string name="about">About</string>
            
            <string name="ok">OK</string>
            <string name="todo_open_url">todo: open url: </string>
            <string name="todo_java_script">todo: execute java script</string>
            <string name="todo_play_movie">todo: play movie</string>
            <string name="todo_play_sound">todo: play sound</string>
            <string name="todo_attachment">todo: treat attachment</string>
            <string name="todo_3d">todo: play 3D module</string>
            <string name="file_not_exist">File not exists: </string>
            <string name="file_not_exist_error">%1$s not exists or not a file.</string>
            <string name="file_not_opened">Cannot open %1$s.</string>
            <string name="catalog_not_found">Catalog object is not a dictionary.</string>
            <string name="edit_catalog_failed">Edit catalog failed.</string>
            
            <string name="no_pdf_outlines">PDF does not contain outlines</string>
            <string name="pdf_print_not_available">PDF File is not available for print.</string>
            <string name="pdf_print_calculation_failed">Page count calculation failed.</string>
            
            <string name="pdf_share_not_available">PDF File is not available for share.</string>
            
            <string name="copy_text">Text copied to clipboard: %1$s</string>
            
            <string name="print">Print</string>
            <string name="share">Share</string>
            <string name="bookmark_label">Page: %1$d</string>
            <string name="bookmark_already_added">Bookmark already exists</string>
            <string name="bookmark_error">Error: Cannot add bookmark</string>
            <string name="bookmark_remove_error">Error: Cannot delete bookmark</string>
            <string name="bookmark_success">Bookmark (%1$s) added successfully.</string>
            <string name="bookmark_add">Add to Bookmarks</string>
            <string name="bookmark_show">Show Bookmarks</string>
            <string name="bookmarks">Bookmarks</string>
            <string name="no_bookmarks">No bookmarks to show</string>
            <string name="loading">Loading…</string>
            <string name="delete">Delete</string>
            <string name="confirm">Confirm</string>
            <string name="clear">Clear</string>
            <string name="save">Save</string>
            <string name="saved_message">Document saved</string>
            <string name="delete_signature_message">A signature is already present, do you want to delete it?</string>
            <string name="warning">Warning</string>
		</config-file>

        <!-- Hooks -->
        <hook type="after_prepare" src="src/android/hooks/configure-android.js"/>

    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="RadaeePDFPlugin">
                <param name="ios-package" value="RadaeePDFPlugin"/>
            </feature>
        </config-file>
        <framework src="CoreMedia.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="libc++.dylib" />

        <!-- Plugin sources and resources -->
        <source-file src="src/ios/RadaeePDFPlugin.m" />
        <header-file src="src/ios/RadaeePDFPlugin.h" />
        <source-file src="src/ios/PDFView/RDPDFViewController.m" />
        <header-file src="src/ios/PDFView/RDPDFViewController.h" />
        <resource-file src="src/ios/PDFView/RDPDFViewController.xib" />
        <resource-file src="src/ios/Resources/btn_annot_remove.png" />
        <resource-file src="src/ios/Resources/backImage.png" />
        <resource-file src="src/ios/Resources/btn_annot_ellipse.png" />
        <resource-file src="src/ios/Resources/btn_annot_ink.png" />
        <resource-file src="src/ios/Resources/btn_annot_rect.png" />
        <resource-file src="src/ios/Resources/btn_done.png" />
        <resource-file src="src/ios/Resources/btn_left.png" />
        <resource-file src="src/ios/Resources/btn_outline.png" />
        <resource-file src="src/ios/Resources/btn_perform.png" />
        <resource-file src="src/ios/Resources/btn_print.png" />
        <resource-file src="src/ios/Resources/btn_remove.png" />
        <resource-file src="src/ios/Resources/btn_right.png" />
        <resource-file src="src/ios/Resources/btn_search.png" />
        <resource-file src="src/ios/Resources/btn_view_dual.png" />
        <resource-file src="src/ios/Resources/btn_view_single.png" />
        <resource-file src="src/ios/Resources/btn_view_vert.png" />
        <resource-file src="src/ios/Resources/btn_view.png" />
        <resource-file src="src/ios/Resources/btn_grid.png" />
        <resource-file src="src/ios/Resources/export_annot.png" />
        <resource-file src="src/ios/Resources/btn_back.png" />
        <resource-file src="src/ios/Resources/btn_more.png" />
        <resource-file src="src/ios/Resources/btn_select.png" />
        <resource-file src="src/ios/Resources/btn_show.png" />
        <resource-file src="src/ios/Resources/btn_view_horz.png" />
        <resource-file src="src/ios/Resources/btn_add.png" />
        <resource-file src="src/ios/Resources/btn_save.png" />
        <resource-file src="src/ios/Resources/btn_ink.png" />
        <resource-file src="src/ios/Resources/btn_annot_line.png" />
        <resource-file src="src/ios/Resources/pdf_custom_stamp.png" />
        <resource-file src="src/ios/Resources/btn_annot_note.png" />
        <resource-file src="src/ios/Resources/btn_undo.png" />
        <resource-file src="src/ios/Resources/btn_redo.png" />
        <resource-file src="src/ios/Resources/btn_share.png" />
        

        <!-- Radaee sources -->
        <source-file src="src/ios/PDFView/BookmarkTableViewController.m" />
        <header-file src="src/ios/PDFView/BookmarkTableViewController.h" />
        <source-file src="src/ios/PDFView/OUTLINE_ITEM.m" />
        <header-file src="src/ios/PDFView/OUTLINE_ITEM.h" />
        <source-file src="src/ios/PDFView/OutLineViewController.m" />
        <header-file src="src/ios/PDFView/OutLineViewController.h" />
        <source-file src="src/ios/PDFView/TextAnnotViewController.m" />
        <header-file src="src/ios/PDFView/TextAnnotViewController.h" />
        <source-file src="src/ios/PDFView/ViewModeTableViewController.m" />
        <header-file src="src/ios/PDFView/ViewModeTableViewController.h" />
        <header-file src="src/ios/PDFView/PopUpView/PopupMenu.h"/>
        <source-file src="src/ios/PDFView/PopUpView/PopupMenu.m"/>
        <header-file src="src/ios/PDFView/PopUpView/PopupMenuItem.h"/>
        <source-file src="src/ios/PDFView/PopUpView/PopupMenuItem.m"/>
        <header-file src="src/ios/PDFView/PopUpView/PopupMenuOverlayView.h"/>
        <source-file src="src/ios/PDFView/PopUpView/PopupMenuOverlayView.m"/>
        <source-file src="src/ios/PDFView/PDFReflowView.m" />
        <header-file src="src/ios/PDFView/PDFReflowView.h" />
        <header-file src="src/ios/PDFView/PDFGridView.h" />
        <source-file src="src/ios/PDFView/PDFGridView.m" />
        <source-file src="src/ios/PDFView/PDFThumbView.m" />
        <header-file src="src/ios/PDFView/PDFThumbView.h" />
        <source-file src="src/ios/PDFView/PDFHttpStream.m" />
        <header-file src="src/ios/PDFView/PDFHttpStream.h" />
        <source-file src="src/ios/PDFView/PDFV.m" />
        <header-file src="src/ios/PDFView/PDFV.h" />
        <source-file src="src/ios/PDFView/PDFVCanvas.m" />
        <header-file src="src/ios/PDFView/PDFVCanvas.h" />
        <source-file src="src/ios/PDFView/PDFVFinder.m" />
        <header-file src="src/ios/PDFView/PDFVFinder.h" />
        <source-file src="src/ios/PDFView/PDFVGlobal.m" />
        <header-file src="src/ios/PDFView/PDFVGlobal.h" />
        <source-file src="src/ios/PDFView/PDFView.m" />
        <header-file src="src/ios/PDFView/PDFView.h" />
        <header-file src="src/ios/PDFView/RDAnnotToolBar.h" />
        <source-file src="src/ios/PDFView/RDAnnotToolBar.m" />
        <header-file src="src/ios/PDFView/RDGlobal.h" />
        <source-file src="src/ios/PDFView/RDGlobal.m" />
        <header-file src="src/ios/PDFView/PDFVPage.h" />
        <source-file src="src/ios/PDFView/PDFVPage.m" />
        <source-file src="src/ios/PDFView/PDFVThread.m" />
        <header-file src="src/ios/PDFView/PDFVThread.h" />
        <source-file src="src/ios/PDFLib/PDFObjc.m" />
        <header-file src="src/ios/PDFLib/PDFObjc.h" />
        <header-file src="src/ios/PDFLib/PDFIOS.h" />
        <source-file src="src/ios/PDFLib/libRDPDFLib.a" framework="true" />

        <!-- Radaee sources -->
        <source-file src="src/ios/PDFView/More/RDMoreTableViewController.m" />
        <header-file src="src/ios/PDFView/More/RDMoreTableViewController.h" />
        <resource-file src="src/ios/PDFView/More/RDMoreTableViewController.xib" />
        <source-file src="src/ios/PDFView/ListBox/RDAnnotListViewController.m" />
        <header-file src="src/ios/PDFView/ListBox/RDAnnotListViewController.h" />
        <resource-file src="src/ios/PDFView/ListBox/RDAnnotListViewController.xib" />
        <source-file src="src/ios/PDFView/DrawMode/DrawModeTableViewController.m" />
        <header-file src="src/ios/PDFView/DrawMode/DrawModeTableViewController.h" />


        <!-- Radaee Modules -->
        <source-file src="src/ios/Modules/ReaderHandler/ReaderHandler.m" />
        <header-file src="src/ios/Modules/ReaderHandler/ReaderHandler.h" />
        
        <source-file src="src/ios/Modules/SearchList/RDExtendedSearch.m" />
        <header-file src="src/ios/Modules/SearchList/RDExtendedSearch.h" />
        <source-file src="src/ios/Modules/SearchList/SearchResultTableViewController.m" />
        <header-file src="src/ios/Modules/SearchList/SearchResultTableViewController.h" />
        <resource-file src="src/ios/Modules/SearchList/SearchResultTableViewController.xib" />
        <resource-file src="src/ios/Modules/SearchList/SearchResultTableViewCell.xib" />
        
        <source-file src="src/ios/Modules/FormManager/RDFormManager.m" />
        <header-file src="src/ios/Modules/FormManager/RDFormManager.h" />
        
        <source-file src="src/ios/Modules/Utils/RDUtils.m" />
        <header-file src="src/ios/Modules/Utils/RDUtils.h" />
        
        <source-file src="src/ios/Modules/ActionStack/ActionStackManager.m" />
        <header-file src="src/ios/Modules/ActionStack/ActionStackManager.h" />
        
        <source-file src="src/ios/Modules/Signature/SignatureViewController.m" />
        <header-file src="src/ios/Modules/Signature/SignatureViewController.h" />
        <source-file src="src/ios/Modules/Signature/UviSignatureView.m" />
        <header-file src="src/ios/Modules/Signature/UviSignatureView.h" />

        <!-- Radaee resources -->
        <resource-file src="src/ios/cmaps/cmaps.dat" />
        <resource-file src="src/ios/cmaps/umaps.dat" />
        <resource-file src="src/ios/cmaps/cmyk_rgb.dat" />
        <resource-file src="src/ios/fdat/stdRes/00" />
        <resource-file src="src/ios/fdat/stdRes/01" />
        <resource-file src="src/ios/fdat/stdRes/02" />
        <resource-file src="src/ios/fdat/stdRes/03" />
        <resource-file src="src/ios/fdat/stdRes/04" />
        <resource-file src="src/ios/fdat/stdRes/05" />
        <resource-file src="src/ios/fdat/stdRes/06" />
        <resource-file src="src/ios/fdat/stdRes/07" />
        <resource-file src="src/ios/fdat/stdRes/08" />
        <resource-file src="src/ios/fdat/stdRes/09" />
        <resource-file src="src/ios/fdat/stdRes/10" />
        <resource-file src="src/ios/fdat/stdRes/11" />
        <resource-file src="src/ios/fdat/stdRes/12" />
        <resource-file src="src/ios/fdat/stdRes/13" />
        <resource-file src="src/ios/fdat/stdFont/argbsn00lp.ttf" />
        <resource-file src="src/ios/fdat/stdFont/arimo.ttf" />
        <resource-file src="src/ios/fdat/stdFont/arimob.ttf" />
        <resource-file src="src/ios/fdat/stdFont/arimobi.ttf" />
        <resource-file src="src/ios/fdat/stdFont/arimoi.ttf" />
        <resource-file src="src/ios/fdat/stdFont/cousine.ttf" />
        <resource-file src="src/ios/fdat/stdFont/cousineb.ttf" />
        <resource-file src="src/ios/fdat/stdFont/cousinebi.ttf" />
        <resource-file src="src/ios/fdat/stdFont/cousinei.ttf" />
        <resource-file src="src/ios/fdat/stdFont/rdf008.ttf" />
        <resource-file src="src/ios/fdat/stdFont/rdf013.ttf" />
        <resource-file src="src/ios/fdat/stdFont/tinos.ttf" />
        <resource-file src="src/ios/fdat/stdFont/tinosb.ttf" />
        <resource-file src="src/ios/fdat/stdFont/tinosbi.ttf" />
        <resource-file src="src/ios/fdat/stdFont/tinosi.ttf" />

        <!-- fonts -->
        <resource-file src="fonts/Roboto-Black.ttf" />
        <resource-file src="fonts/Roboto-Bold.ttf" />
        <resource-file src="fonts/Roboto-Light.ttf" />
        <resource-file src="fonts/Roboto-Medium.ttf" />
        <resource-file src="fonts/Roboto-Regular.ttf" />
        <resource-file src="fonts/Roboto-RegularItalic.ttf" />
        <config-file target="*-Info.plist" parent="Fonts provided by application">
			<array>
        		<string>Roboto-Black.ttf</string>
        		<string>Roboto-Bold.ttf</string>
        		<string>Roboto-Light.ttf</string>
        		<string>Roboto-Medium.ttf</string>
        		<string>Roboto-Regular.ttf</string>
        		<string>Roboto-RegularItalic.ttf</string>
			</array>
		</config-file>

        <!-- hooks -->
        <hook type="before_compile" src="hooks/configure-ios.js"/>

    </platform>

</plugin>
