<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>关于</key>
	<array>
		<string>版本 Ver4.0</string>
		<string>支持我们 为软件评分</string>
		<string>邮箱 radaeepdf@gmail.com</string>
	</array>
</dict>
</plist>
