<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>%1SEARCH SETTING</key>
	<array>
		<string>Case sensitive</string>
		<string>Match intera parola</string>
	</array>
	<key>%2READ SETTING</key>
	<array>
		<string>Colore sottolineatura</string>
		<string>Qualità render</string>
		<string>Colore sbarramento</string>
		<string>Modalità visualizzazione</string>
		<string>Colore evidenziatore</string>
		<string>Testo allineato a destra</string>
		<string>Tieni lo schermo attivo</string>
		<string>Colore disegno libero</string>
		<string>Largezza disegno libero</string>
		<string>Colore rettangolo</string>
		<string>Colore ovale</string>
		<string>Ripristina impostazioni di default</string>
	</array>
</dict>
</plist>
